body, html {
  margin: 0;
  padding: 0;
  font-family: Menlo, fantasy;
  background-image: url('https://images.unsplash.com/photo-1576269483449-3b694997b362?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login-logout-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Header {
  margin: 1px 0;
  padding: 1px 0;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.App-nav {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.App-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.App-nav li {
  margin: 0 15px;
}

.App-nav a {
  text-decoration: none;
  color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.App-nav a.active-link,
.App-nav a:hover {
  background-color: hotpink;
}

.App-main {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
